.banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

video{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}
.on_vi{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}
.banner_text > h3{
    color:rgba(255,255,255,0.9);
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.banner_text > p{
    margin-top:20px;
    font-size: 20px;
    color:rgba(255,255,255,0.7);;
    text-align: center;
}