*{
    margin:0;
    padding:0;
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}

#wrap{
    overflow: hidden;
}
header{
    display: flex;
    position: fixed;
    width:100%;
    height:100px;
    font-weight:bolder;
    justify-content: space-between;
    font-size:19px;

    transition: background-color height  ease-out;
    
}
header.scroll {
    background-color: rgba(0, 0, 0, 0.7);
    height: 70px;
  }

.logo a {
    position: absolute;
    top: 30px;
    left: 55px;
    font-size:19px;
    line-height: 20px;
    color: white;

    transition: top left line-height font-size 0.4s linear;
}
.logo .scroll_lo_tx{
    top: 20px;
    left: 30px;
    font-size:11px;
    line-height: 15px;
}
.logo img{
    position: relative;
    width: 180px;
    height: 110px;

    transition: width height 0.4s linear;
}
.logo .scroll_lo_img{
    position: relative;
    width: 100px;
    height: 70px;
    display: none;
}
.nav{
    display: flex;
    align-items: center;
    
}
.nav > ul{
    list-style-type: none;
    margin-right: 50px;
}
.nav > ul > li{
    display: inline;
    font-size: 15px;
    padding: 0 25px;
}
.nav > ul > li > a{
    color: white;
    border:none;
    padding-bottom: 5px;
}
.nav > ul > li > a:hover{
    color: rgb(201, 234, 250);
    border-bottom: solid 3px rgb(198, 232, 255);
}
.nav_ham_bar{
    position: absolute;
    right: 32px;
    top: 19px;
    font-size: 24px;
    display: none;
}
.nav_ham_bar > i{
    color: white;
}  

@media (max-width:700px){
    .nav_ham_bar{
        display: block;
    }
    .nav > ul > li{
        display: none;
    }
    .logo a {
        position: absolute;
        top: 20px;
        left: 37px;
        font-size:13px;
        line-height: 15px;
        color: white;
    
        transition: top left line-height font-size 0.4s linear;
    }
    .logo img{
        position: relative;
        width: 130px;
        height: 80px;
    
        transition: width height 0.4s linear;
    }

    header.scroll {
        background-color: rgba(0, 0, 0, 0.4);
        height: 50px;
      }

      .nav_ham_bar{
        top: 8px;
    }
    .logo .scroll_lo_tx{
        top: 12px;
        line-height: 14px;
}






