*{
    margin:0;
    padding:0;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e7d5af;
    font-size: 14px;
    color: #fef8d6;
}
a{
    text-decoration: none;
    color : #fef8d6;
    font-weight: bolder;
}
p{
    font-weight: bolder;
}

.rocket{
    font-size: 100px;
    border:dashed #eb8d8d 1px;
    border-radius: 50%;
    padding:30px;
    background-color: white;
}

.home_btn{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0;

    transition: padding 0.1s step-end;
}
.home_btn:hover{
    padding: 0 30px;
}

article > p{
    margin:20px 0;
}
.home_left{
    margin-left: 10px;
}
.home_right{
    margin-right: 30px;
}